// 全局颜色
@blue: #0099ff;
@red: #FF4343;
@yellow: #ffb636;
@green: #33cc99;
@white: #fff;
@normal: #333;
@text: #666;
@secondary: #999;
@tips: #bebebe;
@line: #e5e5e5;
@bg: #f2f3f4;

// 字体规范
@small: 12px;
@base: 14px;
@medium: 16px;
@large: 18px;
@bigger: 20px;

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-full {
  img {
    width: 100%;
    height: 100%;
  }
}

.img-max {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.max-width {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
