.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-full img {
  width: 100%;
  height: 100%;
}
.img-max img {
  max-width: 100%;
  max-height: 100%;
}
.max-width {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
