<template>
  <div class="website-head">
    <div class="max-width">
      <h1 class="logo-text">
        CMSystem
        <span>商品管理系统</span>
      </h1>

      <p class="use-tips">
        第一次使用商品管理系统？
        <span>立即注册</span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'websiteHead'
}
</script>

<style lang="less" scoped>
  .website-head {
    position: relative;
    height: 90px;
    line-height: 90px;
    background: @white;

    .logo-text {
      color: @text;
      font-size: 30px;
      span { font-size: @base; }
    }

    .use-tips {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      font-size: @small;
      span {
        color: @red;
        cursor: pointer;
      }
    }
  }
</style>
