<template>
  <!-- v-if="page.total > page.size" -->
  <div class="categroy-page max-width" :class="'page-' + align">
    <Page
      :total="Number(page.total)"
      :page-size="Number(page.size)"
      :current="Number(page.current)"
      :show-total="showTotal"
      @on-change="pageChange"
      @on-page-size-change="pageSizeChange"
      :show-sizer="hasSizer"
      :page-size-opts="sizeArr"
      class="page-main"
    ></Page>

    <div class="pagego-box">
      跳至
      <input type="text" v-maxnumber="1000" v-model="goPage" @keydown.enter="pageChange(goPage)">
      页
      <span class="define" @click="pageChange(goPage)">确定</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "pagination",
  props: {
    page: {
      type: Object,
      default: () => {
        return {
          size: 1,
          total: 1,
          current: 1
        };
      }
    },
    align: {
      type: String,
      default: "center"
    },
    hasSizer: {
      type: Boolean,
      default: false
    },
    sizeArr: Array,
    showTotal: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      goPage: 1
    };
  },
  methods: {
    pageChange(index) {
      this.$emit("onChange", index);
    },
    pageSizeChange(index) {
      this.$emit("onSizeChange", index);
    }
  }
};
</script>

<style scoped lang="less">
@white: #fff;
@blue: #3b9aff;
@pagebox-height: 32px;
@line: #e4e4e4;

.page-left {
  text-align: left;
}
.page-right {
  text-align: right;
}
.page-center {
  text-align: center;
}

.categroy-page {
  position: relative;

  .page-main {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }

  .pagego-box {
    display: inline-block;
    height: @pagebox-height;
    line-height: @pagebox-height;
    vertical-align: middle;

    input {
      width: 50px;
      height: @pagebox-height;
      padding: 5px;
      box-sizing: border-box;
      border: 1px solid @line;
      outline: none;
      transition: all 0.2s;

      &:hover {
        border-color: @blue;
      }
    }
    .define {
      display: inline-block;
      width: 60px;
      height: @pagebox-height;
      margin-left: 10px;
      text-align: center;
      line-height: @pagebox-height;
      background: @blue;
      color: @white;
      cursor: pointer;
    }
  }
}
</style>
