<template>
  <div class="login-wrapper" v-fullScreen>
    <website-head />
  </div>
</template>

<script>
import websiteHead from './components/websiteHead'
export default {
  name: 'login',
  components: {
    websiteHead
  }
}
</script>

<style lang="less" scoped>
  .login-wrapper {
    background: @bg;
  }
</style>
